In [2]:
import pandas as pd
import numpy as np

In [64]:
df = pd.read_csv("H:\Bharat Digital Internship\Python_task\pizza_sales.csv")

<>:1: SyntaxWarning: invalid escape sequence '\B'
<>:1: SyntaxWarning: invalid escape sequence '\B'
C:\Users\piyus\AppData\Local\Temp\ipykernel_14284\4060266170.py:1: SyntaxWarning: invalid escape sequence '\B'
  df = pd.read_csv("H:\Bharat Digital Internship\Python_task\pizza_sales.csv")

In [66]:
df.head()

,pizza_id,order_id,pizza_name_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name
0,1.0,1.0,hawaiian_m,1.0,1/1/2015,11:38:36,13.25,13.25,M,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",The Hawaiian Pizza
1,2.0,2.0,classic_dlx_m,1.0,1/1/2015,11:57:40,16.00,16.00,M,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,...",The Classic Deluxe Pizza
2,3.0,2.0,five_cheese_l,1.0,1/1/2015,11:57:40,18.50,18.50,L,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza
3,4.0,2.0,ital_supr_l,1.0,1/1/2015,11:57:40,20.75,20.75,L,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza
4,5.0,2.0,mexicana_m,1.0,1/1/2015,11:57:40,16.00,16.00,M,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza

In [72]:
df["Total_purchase_Amount"] = df["unit_price"] * df["total_price"]
df["Total_purchase_Amount"].head()

0    175.5625
1    256.0000
2    342.2500
3    430.5625
4    256.0000
Name: Total_purchase_Amount, dtype: float64

In [76]:
df["CLV"] = df["Total_purchase_Amount"] * df["quantity"]
df["CLV"].head()

0    175.5625
1    256.0000
2    342.2500
3    430.5625
4    256.0000
Name: CLV, dtype: float64

In [80]:
import pandas as pd

# Sample data
data = {
    "order_id": [1, 2, 3],
    "order_date": ["2023-01-10", "2024-05-14", "2022-08-25"]
}

df = pd.DataFrame(data)

# Convert to datetime
df["order_date"] = pd.to_datetime(df["order_date"])

# Extract year
df["year"] = df["order_date"].dt.year

print(df)

   order_id order_date  year
0         1 2023-01-10  2023
1         2 2024-05-14  2024
2         3 2022-08-25  2022

In [92]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

data = pd.DataFrame()
data['feature'] = ['low', 'medium', 'high', 'medium', 'low']

encoder = LabelEncoder()
data['encoded_feature'] = encoder.fit_transform(data['feature'])

print(data)

  feature  encoded_feature
0     low                1
1  medium                2
2    high                0
3  medium                2
4     low                1

In [94]:
import pandas as pd

# Sample data
data = pd.DataFrame({
    'cat_column': ['low', 'medium', 'high', 'medium', 'low']
})

# Manual mapping
mapping = {'low': 1, 'medium': 2, 'high': 0}

# Apply mapping
data['mapped_col'] = data['cat_column'].map(mapping)

print(data)

  cat_column  mapped_col
0        low           1
1     medium           2
2       high           0
3     medium           2
4        low           1

In [96]:
import pandas as pd

# Sample numeric data
data = pd.DataFrame({
    'numeric_column': [10, 25, 40, 60, 80]
})

# Binning into 3 categories
data['binned_col'] = pd.cut(
    data['numeric_column'],
    bins=[0, 30, 60, 90],  # ranges: 0-30, 31-60, 61-90
    labels=['Low', 'Medium', 'High'],
    include_lowest=True
)

print(data.head())

   numeric_column binned_col
0              10        Low
1              25        Low
2              40     Medium
3              60     Medium
4              80       High

In [98]:
import pandas as pd

# Sample data
data = pd.DataFrame({
    'color': ['red', 'blue', 'green', 'red'],
    'size': ['S', 'M', 'L', 'S']
})

# Convert to dummies
dummies = pd.get_dummies(data[['color', 'size']])
data = pd.concat([data, dummies], axis=1)

print(data)

   color size  color_blue  color_green  color_red  size_L  size_M  size_S
0    red    S       False        False       True   False   False    True
1   blue    M        True        False      False   False    True   False
2  green    L       False         True      False    True   False   False
3    red    S       False        False       True   False   False    True